.main-header {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    @extend %shadow-1;
    margin-bottom: 1rem;
    background: #fff;
    .logo {
        margin-left: 1rem;
        }
    .menu {
        margin-right: 1rem;
        .hamburger {
            @extend %reset-button;
            @include breakpoint(mobile) {
                display: none;
            }
        }
        .mb-hamburger {
            @extend %reset-button;
            display: none;
            
            @include breakpoint(mobile) {
               display: block;
            }
        }
        .mb-content-list {
            background: $background;
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 4.5rem;
            left: 0;
            overflow-x: hidden;
            transition: 0.5s;
            width: 100%;
            font-size: 1.5rem;
            display: none;
             li{
                padding: 1rem;
             }
        }
        }
    }
