.main-header {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    @extend %shadow-1;
    margin-bottom: 1rem;
    background: #fff;
    .logo {
        margin-left: 1rem;
        }
    .menu {
        margin-right: 1rem;
        .hamburger {
            @extend %reset-button;
        }
        }
    }
