html {
    font-family: "Segoe UI";
    background: $background;
    width: 100%;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}
p {
    font-size: 1rem;
    line-height: 1.4;
    color: $grey;
}

pre {
    overflow: auto;
    display: block;
    white-space: pre;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
 
a:link {
    color: inherit;
}
a:visited {
    color: #4ba3c7;
}
a:hover {
    color: #4ba3c7;
}
a:active {
    color: #4ba3c7;

}